<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %marker - %m%n"/>
    </Console>
    <File name="API" fileName="logs/jaxb-api.log">
      <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %marker - %m%n"/>
    </File>
    <File name="HIB" fileName="logs/jaxb-hib.log">
      <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %marker - %m%n"/>
    </File>
  </Appenders>

  <Loggers>
    <Logger name="me.afal.jaxb" level="debug">
      <AppenderRef ref="API"/>
    </Logger>
    <Logger name="org.hibernate" level="debug">
      <AppenderRef ref="HIB"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>

</Configuration>